.single {
  display: flex;
  min-height: 100vh; /* Full viewport height */
  background-color: #f0f2f5; /* Soft background color for contrast */

  .singleContainer {
    width: 100%;
  }

  .left{
    width: 100%;
    max-height: 1500px;
    max-width: 1370px; /* Max width for form container */
    background-color: #fff;
    margin-left: 25px;
    margin-top: 25px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: transform 0.3s ease-in-out;

  .right{
    display: flex;
    height: 100px;
    width: 400px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 15px;  
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: transform 0.3s ease-in-out;
    margin-left: 900px;
    margin-top: -190px;
  }

    .MuiSvgIcon-root {
      font-size: 100px;
      text-align: center;
      margin-right: 30px;
    }

    &:hover {
      transform: translateY(-5px); /* Hover effect */
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin-bottom: 20px;

      .itemTitle {
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-top: -20px;
      }

      .detailItem {
        font-size: 16px;
        color: #555;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-bottom: 5px;

        .itemKey {
          font-weight: 600;
          color: #777;
          
        }

        .itemValue {
          font-weight: 400;
          color: #333;
        }
      }
    }

    .pdfLink {
      font-size: 16px;
      margin-top: 20px;

      a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3; /* Hover effect for link */
        }
      }
    }
    .bottom {
      width: 150px;
      padding: 10px;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px; // Jarak atas tombol
      border-radius: 5px; // Membulatkan sudut tombol
      transition: background-color 0.3s; // Efek transisi saat hover

      &:hover {
        background-color: darkcyan; // Ubah warna saat di-hover
      }
  }
    /* For mobile responsiveness */
    @media (max-width: 768px) {
      padding: 20px;
      .itemTitle {
        font-size: 24px;
      }

      .detailItem {
        font-size: 14px;
      }
    }
  }
}
